@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  position: relative;
  /* flex-direction: row; */
}

.progress-container {
    display: flex;
    justify-content: space-between;
    max-width:100%;
    width: 400px;
    position: relative;
    margin-bottom: 30px;
}

.progress-container::before{
    content: " ";
    background-color:#e0e0e0;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    /* transition: .4s ease; */
}

.progress{
    background-color:#3498db;
    height: 4px;
    width: 0%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

.line{
  position: absolute;
  height: 50px;
  width: 2px;
  background-color:#e0e0e0;
  top: 28%;
  left: 3.5%;
}

.line-hr{
  position: absolute;
  height: 2px;
  width: 50px;
  background-color:#e0e0e0;
  top: calc(28% + 50px);
  left: 3.5%;
}